@{
  Layout = "_Layout";
}

<h3>Recent Orders</h3>
<ul>
@using DoughVerstock.Models
@{
  List<Order> recentOrders = Order.Database.Values.ToList();
  recentOrders.Reverse();
  foreach (Order order in recentOrders)
  {
    <li>
      <p><a href='/vendors/@order.VendorID'>@Vendor.Database[order.VendorID].Name</a></p>
      <ul>
        <li><a href="/vendors/@order.VendorID/orders/@order.ID">@order.Date $@order.GetTotalPrice()</a></li>
      </ul>
    </li>
  }
}
</ul>